navbar-inverse
{
    background-color:palevioletred;
}
body{
    background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSayFlYXKUnAo9B2u_ilRgb4nHOnEYtiiBxkEt5_aumM_b5BA0o);
}

strong{
    color:cadetblue;
}
div{
    color:darkmagenta;
}