<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="container">
    <nav navbar-nav>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class=" col-md-12" style="text-align: center"><strong>LostPet Inc.</strong></div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="class1">
                <ul class="nav navbar-nav">
                    <li><a href="/add">Add pet</a></li>
                    <!--<li><a href="/add">Update</a></li>-->
                    <!--<li><a href="/currentstatus/{id}">Current Status</a></li>-->
                    <!--<li><a href="/delete/{id}">Delete</a></li>-->

                </ul>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Type</th>
                            <th>Breed</th>
                            <th>Colour</th>
                            <th>Contactnumber</th>
                            <th>Currentstatus</th>
                            <td>Actions</td>
                        </tr>
                        <tr th:each="pet : ${pets}">
                            <td th:text="${pet.name}"></td>
                            <td th:text="${pet.age}"></td>
                            <td th:text="${pet.type}"></td>
                            <td th:text="${pet.breed}"></td>
                            <td th:text="${pet.colour}"></td>
                            <td th:text="${pet.contactnumber}"></td>
                            <td th:text="${pet.currentstatus}"></td>
                            <td>
                                <a th:href="@{/update/{id}(id=${pet.id})}">Update</a>
                                <a th:href="@{/currentstatus/{id}(id=${pet.id})}">Current</a>
                                <a th:href="@{/delete/{id}(id=${pet.id})}">Delete</a>
                            </td>
                            </table>
                </div>
            </div>
        </div>
    </nav>
    </nav>
</div>

<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>